doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title iSara[イサラ]｜バンコクのノマドエンジニア育成講座
    link(rel="stylesheet" src="style.css")
  body
    header
      .navbar__brand
        img.navbar__brand-img(href="img/logo.png")
        p.navbar__brand-detail バンコクのノマドエンジニア育成講座
      button.navbar__contact-btn お問い合わせ / 資料請求