doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width")
    title iSara[イサラ]｜バンコクのノマドエンジニア育成講座
  body
    header
      .logo
        img.logo-img(href="")
        p.logo-text バンコクのノマドエンジニア育成講座
      button お問い合わせ / 資料請求
    section
      h1 プログラミングで人生の安定を手に入れよう
    section
      h2 ABOUT
    section
      h2 CONTACT
    footer
